extends layout
block content
  head
    p Hi
      button(onclick='start()') START
      button(onclick='flagOff()') STOP
    h1 HOLA
  body
    div
      h3 SESION INICIADA


    script.
      //var Route = require('../models/route');
      var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: 0
      };
      
      var stamp;
      var getloc;
      var arrLat;
      var arrLon;
      var i;

      function getLocation() {
        
        setTimeout(function () {    
          if (navigator.geolocation) {
            console.log('Enviando coordenadas');
            navigator.geolocation.getCurrentPosition(function(pos, options) {
              //console.log(pos.coords.latitude.toString());
              arrLat.push(pos.coords.latitude.toString());
              //console.log(pos.coords.longitude.toString());
              arrLon.push(pos.coords.longitude.toString());
            });
          } else { 
            console.log('bale berga la bida');
          }
          console.log(getloc);
          if (getloc) {       
            i++;
            getLocation();  
          } else {
            var data = {"username": "#{user.username}", 
                        "lat": arrLat, 
                        "long": arrLon};
             
            fetch('https://smendoz3.dis.eafit.edu.co/route', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {'Content-Type': 'application/json'}
            }).then(response => { 
              return response.json(); 
            }).then(data => { 
              alert(JSON.stringify(data));
            }).catch(err => {
                alert(err);
            });
            //console.log(arrLat);
            //console.log(arrLon);
            //console.log(#{user.username});

          }                        //  ..  setTimeout()
        }, 10000) 
      }

      function start(){
        arrLat = [];
        arrLon = [];
        i = 0;
        getloc
        flagOn();
        getLocation();
      }

      function flagOn(){
        getloc = true;
      }

      function flagOff(){
        console.log('Finish');
        getloc = false;
      }

      function handleLocationError(error) {
        switch(error.code){
        case 0:
          updateStatus("There was an error while retrieving your location: " + error.message);
          break;

        case 1:
          updateStatus("The user prevented this page from retrieving a location.");
          break;

        case 2:
          updateStatus("The browser was unable to determine your location: " + error.message);
          break;

        case 3:
          updateStatus("The browser timed out before retrieving the location.");
          break;
        }
      }
