extends layout
block content
  head
    p Hi
      button(onclick='start()') START
      button(onclick='flagOff()') STOP
    h1 HOLA
  body
    div
      h3 SESION INICIADA


    script.
      var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: 0
      };

      var getloc;

      function getLocation() {
        
        setTimeout(function () {    //  call a 3s setTimeout when the loop is called
          //alert('hello');          //  your code here
          if (navigator.geolocation) {
            console.log('Enviando coordenadas');
            navigator.geolocation.getCurrentPosition(function(pos, options) {
              console.log("Latitude: " + pos.coords.latitude);
              console.log("Longitude: " + pos.coords.longitude);
            });
          } else { 
            console.log('bale berga la bida');
          }
          console.log(getloc);
          if (getloc) {            //  if the counter < 10, call the loop function
            getLocation();             //  ..  again which will trigger another 
          }                        //  ..  setTimeout()
        }, 10000) 
      }

      function start(){
        flagOn();
        getLocation();
      }

      function flagOn(){
        getloc = true;
      }

      function flagOff(){
        console.log('Finish');
        getloc = false;
      }

      function handleLocationError(error) {
        switch(error.code){
        case 0:
          updateStatus("There was an error while retrieving your location: " + error.message);
          break;

        case 1:
          updateStatus("The user prevented this page from retrieving a location.");
          break;

        case 2:
          updateStatus("The browser was unable to determine your location: " + error.message);
          break;

        case 3:
          updateStatus("The browser timed out before retrieving the location.");
          break;
        }
      }
